@model DTO.Models.ProductDTO

@{
    ViewData["Title"] = "Details";
    var userId = ViewData["userid"] as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .selected{
        background: black;
    }
    .selected svg{
        color: yellow;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImportedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ImportedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Review
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Review Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
            @for(var i = 1; i<=5; i++)
           {
             <span id=@i onclick="select(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                   <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
             </span>
           }
        </div>
        <form asp-action="Create" asp-controller="Ratings" method="post">
            <input id="star" hidden name="star"/>
            <input name="productid" value=@Model.Product.Id />
            <input name="customerid" value=@userId />
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{
    <script>
        function select(e){
            $(".selected").removeClass("selected");
            for (var i = 1; i <= e.id; i++) {
                const item = document.getElementById(i);
                item.classList.add("selected");
            }
            const starInputElement = document.getElementById("star");
            starInputElement.value = e.id;
        }
    </script>
}