@using Microsoft.AspNetCore.Builder   
@using Microsoft.AspNetCore.Localization  
@using Microsoft.AspNetCore.Mvc.Localization  
@using Microsoft.Extensions.Options  

@inject IOptions<RequestLocalizationOptions> LocOptions  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NashStoreClient</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NashStoreClient.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/theme/minty-bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/f58c939b44.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Products" asp-action="Index">NashStore</a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
              <ul class="navbar-nav">
                        @{
                            var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-returnUrl=@returnUrl asp-action="SetLanguage" asp-controller="Language" asp-route-culture="en">English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-returnUrl=@returnUrl asp-action="SetLanguage" asp-controller="Language" asp-route-culture="vi">Tiếng Việt</a>
                        </li>
                @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-route-returnUrl="~/Products" asp-controller="Auth" asp-action="Login"> 
                                    @Resources.Resources.Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
</svg>
                                    </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Hello, @User.Claims.FirstOrDefault(u=>u.Type == "username").Value</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" asp-controller="Orders" asp-action="Cart">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg> My Cart
                                      </a></li>
                                  <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                                      <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                                      <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                                    </svg> @Resources.Resources.Logout
                                  </a></li>
                                </ul>
                            </li>
                        }
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <div class="container" style="min-height: 75vh">
        <main role="main" class="pb-3">
            @{
                var error = TempData["Error"] as string;
                if(error != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>@error</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                var message = TempData["Message"] as string;
                if(message != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>@message</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
            @RenderBody()
        </main>
    </div>


  <footer class="text-center text-white bg-primary mt-4 position-sticky vw-100 start-0 bottom-0">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3">
    © 2020 Copyright:
    <a class="text-dark" href="https://github.com/Kossmin">Kossmin</a>
  </div>
  <!-- Copyright -->
</footer>
  
<!-- End of .container -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
