@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-3 mb-3">
    <div class="row">
        <ul class="nav">
          <li class="nav-item">
            <a asp-action="Cart" class="nav-link" >@Resources.Resources.Cart</a>
          </li>
          <li class="nav-item">
            <a asp-action="PaidOrders" class="nav-link">@Resources.Resources.DoneOrder</a>
          </li>
          <li class="nav-item">
            <a asp-action="PendingOrders" class="nav-link">@Resources.Resources.PendingOrder</a>
          </li>
          <li class="nav-item">
            <a asp-action="DeliveringOrders" class="nav-link">@Resources.Resources.DeliveringOrder</a>
          </li>
          <li class="nav-item">
            <a asp-action="CanceledOrders" class="nav-link">@Resources.Resources.CanceledOrder</a>
          </li>
        </ul>
    </div>
</div>